#options {
    background-color: azure;
    width: 100%;
    height: 1.75%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
}

.option {
    padding-left: 2%;
}