#playback-panel {
    width: 100%;
    height: 10%;
    background-color: rgb(12, 13, 14);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid rgb(255, 255, 255);
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

#playback-buttons {
    background-color: blue;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#progress-status {
    background-color: yellow;
    height: 40%;
    width: 100%;
}

#track-data {
    background-color: brown;
    width: 20%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
}

#track-data-data {
    width: 97%;
    height: 100%;
    background-color: aqua;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p { margin: 0; }

#play-pause, #other-controls {
    background-color: black;
    width: 100vh;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#play-pause button{
    height: 100%;
    aspect-ratio: 1/1;
}

#other-controls {
    background-color: brown;
    width: 20%;
    height: 100%;
}

#other-controls button {
    height: 70%;
    aspect-ratio: 1/1;
}

#volume-slider-wrapper {
    background-color: cadetblue;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

#volume-icon {
    background-color:blue;
    height: 100%;
    width: 20%;
}

#volume-slider {
    width: 70%;
    display: inline;
    margin: 0 auto;
}

#progress-status {
    justify-content: center;
    display: flex;
}

#progress-status-container {
    display: flex;
    flex-direction: column;
    background-color:aquamarine;
    width: 60%;
    height: 100%;
}

#progress-bar {
    width: 100%;
    height: 15%;
    background-color: brown;
    position: relative;
    top: 20%;
}

#timestamps {
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: lightseagreen;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;
}

