#playback-panel {
    width: 100%;
    height: 10%;
    background-color: rgb(12, 13, 14);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid rgb(255, 255, 255);
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
}

#playback-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    height: 100%;
    width: 20%;
}

#playing-status {
    width: 60%;
    height: 100%;
    background-color: white;
    display: flex;
}

#current-time {
    background-color:aqua;
    width: 10%;
    align-items: center;
    text-align: center;
}

#progress-bar {
    background-color: green;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#total-time {
    background-color:aqua;
    width: 10%;
    align-items: center;
    text-align: center;
}

#track-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    height: 100%;
    width: 20%;
}

#song-navigator {
    width: 100%;
    height: 10%;
    background-color: blue;
}
