#right-sidebar {
    width: 20%;
    height: 90%;
    background-color: rgb(12, 13, 14);
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    border-right: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column-reverse;
}

#track-artwork {
    bottom: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

#track-details {
    width: 100%;
    height: 10%;
    background-color: inherit;
    position: relative;
    border-top: 1px solid rgb(255, 255, 255);
}