body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'consolas';
    overflow-y: hidden;
}

.container {
    display: grid;
    grid-template-columns: 17% 1fr;
    grid-template-rows: 3% 1fr 11%;
    height: 100%;
}

.header {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: #333;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.header a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.2s;
}

.header a:hover {
    background-color: #555;
}


.sidebar {
    grid-column: 1;
    grid-row: 2;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    background-color: #555;
}

.main-view-wrapper {
    grid-column: 2;
    grid-row: 2;
    background-color: #ddd;
    padding: 10px;
    overflow: hidden;
}

.footer {
    grid-column: 1 / span 2;
    grid-row: 3;
    background-color: #333;
    color: white;
    line-height: 50px;
    display: flex;
    flex-direction: column;
}

.playback-panel-top, .playback-panel-down {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.playback-panel-down {
    align-items: center;
}

.track-info {
    width: 17%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.play-pause {
    width: 60%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.other-controls {
    flex-grow: 1;
    display: flex;
}

.track-title {
    font-size: 22.5px;
}

.track-artist {
    font-size: 15px;
}

p {
    margin: 0;
    margin-top: 10px;
    margin-left: 5px;
    line-height: 10px;
}

.track-artwork-wrapper {
    margin-top: auto;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.track-artwork {
    width: 95%;
    aspect-ratio: 1;
    background-size: cover;
    border-radius: 7.5px;
    background-image: url('assets/Cover.jpg');
}

.progress-bar-wrapper {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.current-time, .total-time {
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    flex-grow: 1;
    height: 40%;
    background-color: white;
}

.song-progress {
    width: 67%;
    height: 100%;
    background-color: #1dd45e;
}

.lib-nav {
    width: 100%;
    flex-grow: 1;
}

.sidebar-item {
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
    margin-left: 15px;
    padding-left: 10px;
    -webkit-user-select: none;
    user-select: none;
}

.sidebar-item.clickable + .sub-options {
    padding-left: 15px;
}

.parent-option:nth-child(1) {
    margin-top: 10px;
}

.main-view-scroll {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.main-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 5px;
}

.grid-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    background-size: cover;
}

.sub-options {
    display: none;
}

#playlist-name-dialog-box {
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
}

.album-details {
    background-color: rgb(51, 3, 148);
    color: black;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#album-details-header {
    background-color: teal;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#album-details-artwork {
    height: 100%;
    aspect-ratio: 1;
    background-size: cover;
}

#album-details-header-text {
    flex-grow: 1;
    background-color:cadetblue;
    display: flex;
    flex-direction: column;
}

#album-details-name {
    height: 70%;
    align-items: center;
    font-size: 80px;
    padding-left: 10px;
}

#album-details-artist {
    flex-grow: 1;
    padding-left: 10px;
    align-items: center;
    padding-top: 10px;
    font-size: 20px;
}

#album-details-songs {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#album-details-album-song {
    width: 100%;
    height: 40px;
    background-color: #1dd45e;
    display: flex;
    flex-direction: row;
}

#song-s-no {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

#song-name {
    width: fit-content;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#song-like-status {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    margin-left: auto;
}

#song-length {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
