#music-player {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(29, 32, 33);
  position: fixed;
  display: flex;
}

#playback-panel {
  width: 100%;
  height: 10%;
  background-color: rgb(12, 13, 14);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid rgb(255, 255, 255);
  flex: 0 0 auto;
}

#left-sidebar {
  width: 7%;
  height: 90%;
  background-color: rgb(12, 13, 14);
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  border-right: 1px solid rgb(255, 255, 255);
}

#right-sidebar {
  width: 15%;
  height: 90%;
  background-color: rgb(12, 13, 14);
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  border-left: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column-reverse;
}

#main-view {
  flex: 1 1 auto;
  background-color: rgb(12, 13, 14);
}

#playback-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3%;
}

#track-artwork {
  bottom: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}

#track-details {
  width: 100%;
  height: 10%;
  background-color: inherit;
  position: relative;
  border-top: 1px solid rgb(255, 255, 255);
}
